<!-- template/projects.html -->
{% extends 'home.html' %}

{% block content %}

    <style>

        .project_wrapper{

        }

        .project{
            display: grid;
            padding: 3em;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10em;
            background-color: #464646;

        }

        .project_title{
            color: white;
            text-align: center;
        }

        .project_pic{
            display: grid;
            grip-gap: 40px;
            height: 400;
            width: 600;
            margin-top: 20%

        }

        .project_info{
            color: white;
        }

        .project_content{

            font-family: Raleway, "Times New Roman", Times, sans-serif;
	        font-style: normal;
	        font-size: 25px;
	        margin-right: 30%;
	        line-height: 1.5;
        }

        .project_link{
            text-decoration: none;
        }

        .project_title:hover{
            color: blue;
        }

    </style>

    <div class="project_wrapper">
        {% for project in object_list %}
        <div class="project">
            <div>
                <a class="project_link" href="{{ project.link }}">
                    <img class="project_pic" src="{{ project.picture.url }}">
                </a>
            </div>
            <div class="project_content">
                <a class="project_link" href="{{ project.link }}">
                    <h2 class="project_title">{{ project.title }}</h2>
                </a>
                <p class="project_info">{{ project.body }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}

